/* style.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: scale 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    scale: 1.5;
}

button:disabled {
    background-color: #ff0000;
    cursor: not-allowed;
}

p {
    font-size: 1.3rem;
    margin: 5px 0;
}
#iniciar{
    background-color: rgb(22, 156, 22);
    transition: background-color 0.3s ease;
    transition:scale 0.3s ease;
}
#iniciar:hover{
    background-color: rgb(35, 235, 35);
    scale: 1.5;
    
}
